<!DOCTYPE html>
<html>
<head>
    <title>ALLERDET | Food Allergen Detection Web APP | Francisco M. Garcia-Moreno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="Web application to help researchers with prediction of allergenicity of food proteins (allergen, allergy) | FASTA sequence | alignment">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='buttons.less') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="stylesheet" id="rs-roboto-css" href="//fonts.googleapis.com/css?family=Roboto" type="text/css" media="all">
    <link rel="stylesheet" id="tp-material-icons-css" href="//fonts.googleapis.com/icon?family=Material+Icons" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400%7CLato:700%2C400%7CLora:700%2C400%2C600&amp;display=swap" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%2C100italic%2C300italic%2C400italic%2C500italic%2C700italic%2C900italic%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">
    <link rel="icon" href="https://frangam.com/wp-content/uploads/2021/11/cropped-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://frangam.com/wp-content/uploads/2021/11/cropped-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://frangam.com/wp-content/uploads/2021/11/cropped-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://frangam.com/wp-content/uploads/2021/11/cropped-icon-270x270.png">
    <script src="{{ url_for('static', filename='less.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='buttons.js') }}" type="text/javascript"></script>
    <style>
        .footer-button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #2196F3;
            border: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
        }

        .footer-button:hover {
            background-color: #0b7dda;
        }

        /* Modal styles */
        .modal, .predict-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content, .predict-modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="content">
        <h1>ALLERDET - Allergen Detection Web APP</h1>
        <div>
            <a href="/" class="button button-inline button-small button-info"><span>Home</span></a>
            <a href="/train-allergens" class="button button-inline button-small button-info"><span>Allergen Train Dataset</span></a>
            <a href="/train-non-allergens" class="button button-inline button-small button-info"><span>Non-Allergen Train Dataset</span></a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <form id="predictForm" action="/predict" method="post">
            <label for="sequence">Please, enter your sequence/s in <a href="https://en.wikipedia.org/wiki/FASTA_format" target="_blank">FASTA</a> format:</label>
            <textarea id="sequence" name="sequence" required></textarea>
            <button type="submit" class="button button-inline button-small button-success">Predict</button>
        </form>
        {% endblock %}
    </div>

    <div id="cite">
        <hr>
        <p>Please, Cite this work if you use this application:</p>
        <p>F. M. Garcia-Moreno, M. A. Gutiérrez-Naranjo. "<a href="https://doi.org/10.1016/j.jbi.2022.104217" target="_blank">ALLERDET: A novel web app for prediction of protein allergenicity</a>," <i>Journal of Biomedical Informatics, 2022</i>, doi: 10.1016/j.jbi.2022.104217</p>
    </div>

    <footer>
        <hr>
        <p>© 2015-2022 <a href="mailto:fmgarmor@ugr.es">Francisco M. Garcia-Moreno</a></p>
        
    </footer>

    
</body>


</html>
